rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // This real bad, but I real dumb
    match /players/{player} {
      allow read, write;
    }

    // Rooms can only be written into from the room soon?
    // For now, this real bad, but I real dumb
    match /rooms/{room} {
      allow read, write;
    }
  }
}