html, body, #root, #root>div {
  width: 100vw;
  height: 100vh;
}

body {
  margin-left: 0;
}

.pulseRed {
  animation: pulse-red-animation 2s infinite;
}

@keyframes pulse-red-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2)
  }
  100% {
    box-shadow: 0 0 0 20px rgb(255, 0, 0, 0);
  }
}